/**
 * Copyright (c) 2020 Timur Sultanaev All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

@import url('https://fonts.googleapis.com/css?family=Roboto');

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
  font-family: Roboto;
  color: #38322d;
  background-color: #f1efe8;
  margin: 0px;
}

code.code-panel {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 3px 6px 3px #888888;
}

.centertext {
    text-align: center;
}

.inline-icon {
    margin-right: 0.5em;
}

.left-code {
    padding-left: 30px;
    max-width: 450px;;
}

.footer-link {
    color: #8d8d7e;
}

.footer {
    padding: 20px 0 40px;
    margin-top: 35px;
    font-size: 12px;
    border-top: solid 1px #9a9994;
    color: #9a9994;
    text-align: center;
}

pre {
    margin-top: 0;
}

code.inlinecode { 
    display: inline; 
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 4px;
}

.code-header {
    font-size: 12px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-color: #f1efe8;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    box-shadow: 3px 6px 3px #888888;
}

.code-header-darker {
    background-color: #dad7d0;
}

.header-links {
    line-height: 30px;
    padding: 10px;
}

.header-links h3 {
    margin-bottom: 0;
}

.header-links h4 {
    margin-top: 0;
}


.prime-color {
    color: #ef391a;
}

a:link {
    color: #ef391a;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: #ef391a;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #ef391a;
    font-weight: bold;
    text-decoration: underline;
}

a:active {
    color: #ef391a;
    font-weight: bold;
}

.header-text {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

@media only screen and (min-width: 1010px) {
    .centered-container {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        width: 1000px;
    }
}

main {
    background: #d6d5d5;
    padding-left: 1em;
    padding-right: 1em;
}

p {
    line-height: 1.5;
}

.content-container {
    padding: 10px;
}

.image-w100 {
    width: 100%;
}

/* Extra small devices (phones, 992px and down) */
@media only screen and (max-width: 992px) {
    .header-link {
        padding: 10px;
        display: block;
    }

    h1 {
        margin: 0;
    }

    .header {
        font-family: Roboto Condensed;
    }

    body {
        max-width: 100vh;
    }

    .content-left {
        padding: 20px;
    }
    
    .content-right {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .feature-section-left {
        padding: 20px;
    }

    .feature-section-right {
        padding-left: 20px;
        padding-right: 20px;
    }

    .feature-section-first {
        padding-top: 4em;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header-link {
        padding: 10px;
    }
    
    .header {
        font-family: Roboto Condensed;
        height: 100px;
        line-height: 100px;
        margin-bottom: 20px;
        padding-bottom: 40px;
    }

    .content-grid {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
    }

    .lfeature-section-grid {
        display: grid;
        grid-template-columns: 55% 45%;
        grid-template-rows: 100%;
    }

    .rfeature-section-grid {
        display: grid;
        grid-template-columns: 55% 45%;
        grid-template-rows: 100%;
    }
    

    .content-left {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        margin: 20px;
    }
    
    .content-right {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        margin-top: 20px;
    }
    
    .feature-section-left {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        margin: 20px;
    }

    .feature-section-right {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        margin-top: 20px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}

.install-content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
  text-decoration: underline;
}
  
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;
}
  
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.green-fa {
    color: green;
}

.about-yaml {
    padding-top: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
